.header {
  padding: 4px;
  background-color: black;
  color: white;
  text-align: center;
}
.addRepo{
  margin-top: 30vh;
}
.addButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left-pane {
  display: flex;
  flex-direction: column;
}

#left-pane .container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  float: left;
}
#left-pane button {
  margin: 10px;
  padding: 8px;
}
.card-img-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}
#branch-issue-container{
  height: 69vh;
  overflow-x: hidden;
}
#loading {
  position: absolute; 
  left: 42%;
  top: 40%;
  padding: 32px;
  width: 11%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card{
  transition: all .2s ease-in-out;
}
.card:hover{
  transform: scale(1.009);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(216, 206, 206,0.5);
  border-radius: 10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(216, 206, 206,1);
}